* {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
  color: #333;
}

/* --- Start Header and Navigation Layout --- */
.header-container {
  background-color: transparent;
  height: 80px;
  border: none;
  opacity: 0.8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.logo-dynamic img {
  display: block;
  width: 150px;
  height: 50px;
}

.navbar > div:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  flex-grow: 1;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
}

.navbar ul li {
  margin-right: 25px;
  position: relative;
  display: flex;
  align-items: center;
}

.navbar ul li a {
  display: flex;
  align-items: center;
  padding: 10px 0;
  transition: color 0.15s ease-in-out;
  text-decoration: none;
  color: inherit;
}

.navbar ul li a:hover {
  color: #38bfc3;
}

.navbar ul li a span {
  margin-left: 4px;
  font-size: 0.75em;
  line-height: 1;
}

.search-button {
  margin-left: 30px;
  width: 55px;
  height: 55px;
  background-color: #c6c628;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  flex-shrink: 0;
  padding: 0;
}

.search-button:hover {
  background-color: #0f5395;
}

.search-button i {
  font-size: 20px;
  color: #fff;
}
/* Ends Header and Navigation Layout */

/* Start Hero section layout */
.banner-section {
  min-height: 500px;
  background-image: url("https://refactory.academy/wp-content/uploads/2025/08/0G2A8223-2048x1365.jpg");
  background-size: cover;
  background-position: center bottom;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 80px;
  z-index: -1;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.banner-title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
}

.banner-subtitle {
  text-align: center;
  font-size: 1.95rem;
  font-weight: 900;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 2.5rem;
}

.banner-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: none;
  font-size: 25px;
}

#partner {
  background-color: #663367;
  border: none;
  color: white;
  border-radius: 6px;
  gap: 30px;
}

#explore {
  background-color: #c6c628;
  border: none;
  color: white;
  border-radius: 6px;
}

#hire {
  background-color: white;
  border: none;
  color: #663367;
  border-radius: 6px;
}
/* Ends Hero section layout */

/* About section layout */
.about-section {
  display: flex;
  background-color: #f4f7fa;
  margin: 40px auto;
  overflow: hidden;
  margin: 0;
  justify-content: space-evenly;
}
/* Content (Left) Column Styles */
.content-column {
  height: 90%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-heading {
  font-size: 1.85rem;
  font-weight: 700;
  color: #663367;
  margin: 15px  0;
  padding-top: 40px;
}

.sub-heading {
  font-size: 1.10rem;
  font-weight: 450px;
  color: #38bfc3;
  margin-bottom: 15px;
}

.paragraph {
  font-size: 0.95rem;
  line-height: 1.75;
  color: var(--color-text);
  margin-bottom: 20px;
}

/* Button Styles */
.learn-more-btn {
  display: inline-flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  background-color: #c6c628;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  max-width: fit-content;
}

.learn-more-btn a {
  text-decoration: none;
  color: #fff;
}

.arrow {
  font-size: 2rem;
  font-weight: bold;
}

.learn-more-btn:hover {
  background-color: #0f5395;
  text-decoration: none;
}

.learn-more-btn .arrow {
  margin-left: 0.75rem;
  font-weight: 700;
  color: #fff;
}

.image-column {
  height: 90%;
  margin-left: 0;
  margin-right: 50px;
  justify-content: space-around;
}

.group-image {
  margin-top: 55px;
  width: 100%;
  height: 70%;
  object-fit: cover;
  display: block;
}
/* About section ends  */

/* Card section start */
.cart-container {
  margin-top: 25px;
  padding: 20px;
}

.header-content {
  text-align: center;
  margin-bottom: 40px;
}

.header-subtitle {
  font-size: 1.15rem;
  color: #38bfc3; 
  font-weight: 550;
  margin-bottom: 5px;
}

.header-title {
  font-size: 1.75rem;
  color: #663367; 
  font-weight: 700;
  margin: 0;
}

.card-grid {
  display: flex;
  gap: 10px; 
  justify-content: space-between;
  flex-wrap: wrap; 
  margin: 0 30px;
}

/* Individual Card Styling */
.course-card {
  background-color: #ffffff;
  border-radius: 0;
  overflow: hidden;
  width: 100%;
  max-width: 380px; 
  text-align: left;
}


/* Image Styling */
.card-image {
  width: 90%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.card-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #4a286e;
   margin-top: 10px;
  margin-bottom: 15px; 
}

.card-description {
  width: 90%;
  line-height: 1.5;
  font-size: 1.1rem;
  color: #555;
  margin: 15px 0;
}

/* Card section ends */
